/* Enter your custom styles here */
.customCSS .green {
	color: green;
}

.customCSS .red {
	color: red;
}
.customCSS .grey {
	color: #808080;
}

.customCSS .gold {
	color: #ff9900;
}

.customCSS .italic {
	font-style: italic;
}

.customCSS .fontSize1_5 {
	font-size : 1.5rem;
}

.customCSS .fontSize2 {
	font-size : 2rem;
}

.customCSS .iconSize2 {
	font-size : 2rem;
}

.customCSS .iconSize2_5 {
	font-size : 2.5rem;
}